
<form style="margin: 40px;">
    <h5>Administrar los juegos</h5>
    <p></p>
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Año del juego</label>
        <input class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputState">Director del juego</label>
            <select id="inputState" class="form-control">
              <option selected>lista...</option>
              <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">personaje del juego</label>
            <select id="inputState" class="form-control">
              <option selected>lista...</option>
              <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPassword4">Stock</label>
            <input class="form-control" placeholder="cantidad de stock de juego">
          </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Valor</label>
          <input  class="form-control" placeholder="valor de juego">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>