<!-- <form style="margin: 40px;">
    <h5>Conocer el cliente más frecuente del alquiler de juegos</h5>
    <p></p>
    <button (click)="generarReporteUno()" class="btn btn-primary">Consultar</button>
</form> -->

<div class="my-3 p-3 bg-white rounded shadow-sm" style="margin: 40px;">
  <h5 class="border-bottom border-gray pb-2 mb-0">Lista de reportes</h5>
  <div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect></svg>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Reporte 1</strong>
        <button (click)="generarReporteUno()" class="btn btn-primary">Generar reporte</button>
      </div>
      <span class="d-block">conocer quien tiene alquilado un juego y poder reclamarlo cuando se venza el periodo de alquiler</span>
        <div class="form-group col-md-6">
            <select class="form-control" [(ngModel)]="id_cliente"  name="cmbClientes" (change)="onChange($event.target.value)">
                <option [value]="cliente.ID" *ngFor='let cliente of clientes' >
                    {{cliente.NOMBRE_CLIENTE}}
                </option>
            </select>
        </div>
    </div>
  </div>

  <div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect></svg>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Reporte 2</strong>
        <button (click)="generarReporteDos()" class="btn btn-primary">Generar reporte</button>
      </div>
      <span class="d-block">Conocer el cliente más frecuente del alquiler de juegos</span>
    </div>
  </div>
  
  <div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect></svg>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Reporte 3</strong>
        <button (click)="generarReporteTres()" class="btn btn-primary">Generar reporte</button>
      </div>
      <span class="d-block">Conocer el título de juego más rentado</span>
    </div>
  </div>
  
  <div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect></svg>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Reporte 4</strong>
        <button (click)="generarReporteCuatro()" class="btn btn-primary">Generar reporte</button>
      </div>
      <span class="d-block">Las ventas del día</span>
    </div>
  </div>
  
  <div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect></svg>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Reporte 5</strong>
        <button (click)="generarReporteCinco()" class="btn btn-primary">Generar reporte</button>
      </div>
      <span class="d-block">Consultar por director de Juego, seleccione un director</span>
      <div class="form-group col-md-6">
        <select class="form-control" [(ngModel)]="id_director" name="cmbDirector">
          <option selected>Seleccione uno</option>
          <option [value]="director.ID" *ngFor='let director of directores'>{{director.NOMBRE}}</option>
        </select>
    </div>
    </div>
  </div>
  
  <div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect></svg>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Reporte 6</strong>
        <button (click)="generarReporteSeis()" class="btn btn-primary">Generar reporte</button>
      </div>
      <span class="d-block">Consultar por protagonista del juego, seleccionar protagonista</span>
      <div class="form-group col-md-6">
        <select class="form-control" [(ngModel)]="id_protagonista" name="cmbProtagonista">
          <option selected>Seleccione uno</option>
          <option [value]="protagonista.ID" *ngFor='let protagonista of protagonistas' >
            {{protagonista.NOMBRE}}
          </option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect></svg>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Reporte 7</strong>
        <button (click)="generarReporteSiete()" class="btn btn-primary">Generar reporte</button>
      </div>
      <span class="d-block">Consultar por productor y/o marca del juego</span>
      <div class="form-group col-md-6">
        <select class="form-control" [(ngModel)]="id_marca" name="cmbMarca">
          <option selected>Seleccione uno</option>
          <option [value]="marca.ID" *ngFor='let marca of marcas' >
            {{marca.NOMBRE}}
          </option>
        </select>
    </div>
    </div>
  </div>
  
  <div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect></svg>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Reporte 8</strong>
        <button (click)="generarReporteOcho()" class="btn btn-primary">Generar reporte</button>
      </div>
      <span class="d-block">Consultar que juego es el menos rentado por rangos de edad de 10 años en 10 años</span>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" (keyup)="onKeyEdadInicial($event)" placeholder="edad inicial">
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" (keyup)="onKeyEdadFinal($event)" placeholder="edad final">
        </div>
      </div>
    </div>
  </div>
  
  <small class="d-block text-right mt-3">
    <a href="#">Principal</a>
  </small>
</div>
